<app-header></app-header>

<div class="container" style="padding-top: 120px; max-width: 900px">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <h2 class="display-4 mb-4 text-center">
      {{'menu.codeOfEthics'|translate}}
    </h2>
    <ol style="font-size: 1.7em">
      <li>
        Jednáme <b>slušně</b> a s pokorou.
      </li>
      <li>
        Neuzavíráme obchody pokud nejsme sami přesvědčeni o přidané hodnotě pro druhou stranu a dodržení <b>win-win</b>
        principu.
      </li>
      <li>
        Jestliže vidíme <b>rizika</b>, vždy na ně druhou stranu upozorníme.
      </li>
      <li>
        Dbáme na budování <b>dlouhodobého vztahu</b> se zákazníky a partnery.
      </li>
      <li>
        <b>Termíny</b>, které si stanovíme dodržujeme nebo včas upozorníme na jejich nesplnitelnost.
      </li>
    </ol>

    <hr/>

    <div style="font-size: 1.5em" >
      <p>
        Dodržování tohoto etického kodexu není právně vymahatelné, nicméně dodržování bodů kodexu pečlivě kontrolujeme.
        Budeme rádi, pokud nás na případné porušení upozorníte.
      </p>
    </div>
  </div>
</div>
