<app-header-part></app-header-part>

<app-cover-outsourcing-section></app-cover-outsourcing-section>

<app-services-section></app-services-section>

<app-services-steps-section></app-services-steps-section>

<app-pricelist-section></app-pricelist-section>

<app-specialization-section></app-specialization-section>

<app-about-us-section></app-about-us-section>

<app-blog-posts-section></app-blog-posts-section>

<app-contact-us-section></app-contact-us-section>

<app-faq-section></app-faq-section>
