<div class="site-section" id="pricelist-section">
  <div class="container">
    <h2 class="section-title text-center mb-4">{{ 'menu.priceList' | translate }}</h2>

    <div style="max-width: 600px; margin: 0 auto;">
      <table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th class="text-center">Nový produkt</th>
          <th class="text-center">Zavedený produkt</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width:40%">
            <b>Startovní balíček</b><br/>
            Průzkum trhu, zaškolení obchodních zástupců
          </td>
          <td class="text-center">od 25.000 Kč</td>
          <td class="text-center">individuálně</td>
        </tr>
        <tr>
          <td>
            <b>Spolupráce</b><br/>
            Poplatek částečně pokrývá naše provozní náklady v době, kdy je obrat minimální.
          </td>
          <td class="text-center">
            1.000<br/>
            Kč&nbsp;/&nbsp;měs.
          </td>
          <td class="text-center">
            0<br/>
            Kč&nbsp;/&nbsp;měs.
          </td>
        </tr>
        <tr>
          <th>Provize za zrealizovaný obchod</th>
          <td class="text-center" colspan="2">dle dohody</td>
        </tr>
        <tr>
          <th>Odborné konzultace nad rámec běžných služeb</th>
          <td class="text-center" colspan="2">od 1.000 Kč / hod.</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-striped mt-2">
        <thead>
        <tr>
          <th class="text-center" colspan="2">Další služby:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width:25%"></td>
          <td>
            <ul class="ul-check mt-2 mb-2 list-unstyled success font-weight-bold">
              <li>Propojení s experty</li>
              <li>Sdílený seznam úkolů</li>
              <li>Sdílené analýzy a informace o zákaznících</li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
