<div class="site-section bg-dark" style="color: #ffffff;">

  <div class="container" style="max-width: 800px;font-size:1.5em">
    <div class="pb-4">
      <fa-icon [icon]="faUserTie"></fa-icon>&nbsp;
      <span [innerHTML]="'section.field-reasons.1'|translate"></span>
    </div>

    <div class="pb-4">
      <fa-icon [icon]="faCrown"></fa-icon>&nbsp;
      <span [innerHTML]="'section.field-reasons.2'|translate" class="mt-4"></span>
    </div>

    <div class="pb-4">
      <fa-icon [icon]="faHeart"></fa-icon>&nbsp;
      <span [innerHTML]="'section.field-reasons.3'|translate" class="mt-4"></span>
    </div>
  </div>

  <div class="mt-5">
    <app-schedule-call-btn></app-schedule-call-btn>
  </div>
</div>
