<div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12" data-aos="fade-right" data-aos-delay="200" style="position: relative;">
        <img [src]="image" alt="illustration image" class="img-fluid img-absolute"/>
        <div class="row mb-4" data-aos="fade-right" data-aos-delay="200">
          <div class="col-lg-6 mr-auto">
            <h1 *ngIf="title">{{ title }}</h1>
            <div>
              <p *ngIf="subtitle" class="mb-2" style="font-family: Arial Black;font-size: 1.4rem; font-weight: bold;">{{ subtitle }}</p>
              <p *ngIf="subtitle2" class="mb-2" style="font-family: Arial;font-size: 1.4rem; ">{{ subtitle2 }}</p>
            </div>
            <ng-content></ng-content>
            <div *ngIf="tags.length" class="d-none d-lg-block mt-4 cover-tags">
              <app-tag-list [tags]="tags"></app-tag-list>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="scrollToFragment" class="d-none d-md-block scroll-to-btn-wrap">
      <app-scroll-down-btn [fragment]="scrollToFragment"></app-scroll-down-btn>
    </div>
  </div>
</div>
