<app-header-part [color]="'#d85d06'" [subBrand]="'subBrand.sales'|translate"></app-header-part>

<app-cover-sales-outsourcing-section></app-cover-sales-outsourcing-section>

<app-services-section [expansion]="false"></app-services-section>

<app-specialization-section [showMoreBtn]="false"></app-specialization-section>

<app-about-us-section></app-about-us-section>

<app-blog-posts-section [limit]="3" [showBlank]="false"
                        [tagsFilter]="[['sales'],['startups']]"></app-blog-posts-section>

<app-contact-us-section></app-contact-us-section>

<app-faq-section></app-faq-section>

<app-sales-university-banner></app-sales-university-banner>
