<div class="site-section bg-dark" id="specialization-section">

  <div class="container">

    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-4">{{ 'menu.specialization' | translate }}</h2>

        <div class="mb-5 lead text-center">{{ 'section.specialization.p1' | translate }}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><fa-icon [icon]="faUtensils"></fa-icon></span>
          </div>
          <div>
            <h3>{{ 'section.specialization.gastro.h' | translate }}</h3>
            <div class="text-left">
              <p>{{ 'section.specialization.gastro.p1' | translate }}</p>
            </div>
            <div class="text-center mt-3">
              <a [routerLink]="'/field/gastro' | localize" class="btn btn-success">
                {{ 'section.specialization.btn.more' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><fa-icon [icon]="faShoppingCart"></fa-icon></span>
          </div>
          <div>
            <h3>{{ 'section.specialization.ecommerce.h' | translate }}</h3>
            <div class="text-left">
              <p>{{ 'section.specialization.ecommerce.p1' | translate }}</p>
            </div>
            <div class="text-center mt-3">
              <a [routerLink]="'/field/ecommerce' | localize" class="btn btn-success">
                {{ 'section.specialization.btn.more' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <div class="lead text-center">{{ 'section.specialization.note' | translate }}</div>
      </div>
    </div>

  </div>

</div>
