<app-header-part></app-header-part>

<div class="container" style="padding-top: 120px;">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4 mb-4">
      {{ 'page.signIn.h1' | translate }}
    </h2>

    <ng-template #login>
      <div style="max-width: 400px; margin: 0 auto;">
        <button (click)="authService.signInViaGoogle()" class="btn btn-primary btn-block" type="button">
          <fa-icon [icon]="faGoogle"></fa-icon>&nbsp;
          {{ 'btn.signInViaGoogle' | translate }}
        </button>
      </div>
    </ng-template>

    <div *ngIf="authService.user$ | async; else login" style="max-width: 400px; margin: 0 auto;">
      <div class="alert-warning mb-4 p-4">
        V současné době nejste evidován/a jako obchodní zástupce.<br />
        Kontaktujte nás, prosím, pro více informací.
      </div>

      <button (click)="authService.signOut()" class="btn btn-primary btn-block" type="button">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>&nbsp;
        {{ 'btn.signOut' | translate }}
      </button>
    </div>
  </div>
</div>
