<div class="site-section" id="services-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center">
        <h2 class="section-title">{{ 'section.services.h' | translate }}</h2>
        <p *ngIf="!expansion" [innerHTML]="'section.services.p1' | translate" class="lead mt-4 mb-4">
        </p>

        <div class="author-box aos-init aos-animate mb-5" data-aos="fade-right">
          <blockquote>
            <h4><b>{{ 'section.services.freeConsultation' | translate }}</b></h4>
            <app-schedule-call-btn></app-schedule-call-btn>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="row align-items-stretch">

      <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up">
        <div class="unit-4 d-block"
             onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cothema/uvodni-konzultace'});return false;"
             style="cursor: pointer">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><fa-icon [icon]="faUsers"></fa-icon></span>
          </div>
          <div>
            <h3>{{ 'section.services.salesTeam.h' | translate }}</h3>
            <div class="text-left">
              <ul
                class="ul-check mb-2 list-unstyled success"
                style="display: inline-block; text-align: left; margin: 0 auto;"
              >
                <li>{{ 'section.services.salesTeam.li4' | translate }}</li>
                <li>{{ 'section.services.salesTeam.li3' | translate }}</li>
                <li>{{ 'section.services.salesTeam.li1' | translate }}</li>
                <li>{{ 'section.services.salesTeam.li2' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up">
        <div class="unit-4 d-block"
             onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cothema/uvodni-konzultace'});return false;"
             style="cursor: pointer">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><fa-icon [icon]="faHeadset"></fa-icon></span>
          </div>
          <div>
            <h3>{{ 'section.services.userSupport.h' | translate }}</h3>
            <div class="text-left">
              <ul class="ul-check mb-2 list-unstyled success">
                <li>{{ 'section.services.userSupport.li1' | translate }}</li>
                <li>{{ 'section.services.userSupport.li3' | translate }}</li>
                <li>{{ 'section.services.userSupport.li2' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up">
        <div class="unit-4 d-block"
             onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cothema/uvodni-konzultace'});return false;"
             style="cursor: pointer">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><fa-icon [icon]="faMapMarkerAlt"></fa-icon></span>
          </div>
          <div>
            <h3>{{ 'section.services.localRepre.h' | translate }}</h3>
            <div class="text-left">
              <ul class="ul-check mb-2 list-unstyled success">
                <li>{{ 'section.services.localRepre.li1' | translate }}</li>
                <li>{{ 'section.services.localRepre.li2' | translate }}</li>
                <li>{{ 'section.services.localRepre.li3' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="!expansion" class="text-center mb-4">
    <a [routerLink]="'/expansion' | localize" class="btn btn-primary btn-lg">
      {{ 'section.services.expansionCz' | translate }}
      &nbsp;<fa-icon [icon]="faArrowRight"></fa-icon>
    </a>
  </div>

  <app-schedule-call-btn class="mt-2 mb-4"></app-schedule-call-btn>

  <div class="text-center mt-4">
    <a [routerLink]="'/how-it-works' | localize"
       class="btn btn-primary">
      <fa-icon [icon]="faInfoCircle"></fa-icon>&nbsp; {{ 'menu.howItWorks' | translate }}
    </a>
  </div>

</div>
