<app-header-part></app-header-part>

<div class="container" style="padding-top: 120px; max-width: 900px;">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <h2 class="display-4 mb-4 text-center">
      {{ 'menu.codeOfEthics' | translate }}
    </h2>
    <ol style="font-size: 1.7em;">
      <li [innerHTML]="'page.codeOfEthics.li1' | translate"></li>
      <li [innerHTML]="'page.codeOfEthics.li2' | translate"></li>
      <li [innerHTML]="'page.codeOfEthics.li3' | translate"></li>
      <li [innerHTML]="'page.codeOfEthics.li4' | translate"></li>
      <li [innerHTML]="'page.codeOfEthics.li5' | translate"></li>
    </ol>

    <hr/>

    <div style="font-size: 1.5em;">
      <p>
        {{ 'page.codeOfEthics.note' | translate }}
      </p>
    </div>
  </div>
</div>
