<app-cover
  [title]=" 'section.coverConsultation.h1' | translate"
  [subtitle]="'section.coverConsultation.p1' | translate"
  [subtitle2]="'section.coverConsultation.p2' | translate"
  image="assets/images/undraw_metrics_gtu7.svg"
  scrollToFragment="specialization-section"
>
  <div class="d-none d-md-block">
    <a [routerLink]="'/'|localize"
       class="btn btn-success btn-lg pulsing-success mr-2 mb-2 mt-4"
       fragment="specialization-section"
       pageScroll>
      {{ 'section.coverConsultation.btn.findSolution' | translate }}
    </a>
  </div>
</app-cover>
