<app-header-part [color]="subBrandColor" [subBrand]="'subBrand.industry'|translate"></app-header-part>

<app-field-detail [field]="field">
  <div class="mt-5 mb-3 container container-800">
    <div class="pl-4 pr-4 field-intro">
      <h3 class="mt-2">
        {{'section.specialization.manufacturingAndIndustry.p1'|translate}}
      </h3>

      <ul class="ul-check list-unstyled success">
        <li [innerHTML]="'page.fieldIndustry.li1'|translate"></li>
        <li [innerHTML]="'page.fieldIndustry.li2'|translate"></li>
        <li [innerHTML]="'page.fieldIndustry.li3'|translate"></li>
        <li [innerHTML]="'page.fieldIndustry.li4'|translate"></li>
        <li [innerHTML]="'page.fieldEcommerce.li2'|translate"></li>
        <li [innerHTML]="'page.fieldEcommerce.li3'|translate"></li>
      </ul>
    </div>
  </div>
</app-field-detail>
