@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~ngx-sharebuttons/themes/default/default-theme';

$gray-1: $gray-100;
$gray-4: $gray-400;

/* Base */
@import 'site-base';
/* Navbar */
@import 'site-navbar';
/* Blocks */
@import 'site-blocks';

.btn-success {
  background-color: #57b894;
  border-color: #57b894;

  &:active, &:hover, &:focus {
    background-color: #358c70 !important;
  }
}
