h1 {
  margin-bottom: 30px;
}

h1, .box-area {
  background: #007bff;
  color: #fff;
  text-align: center;
  padding: 25px 15px;
  border-radius: 5px;
}

.img-box-right {
  float: right;
  max-width: 500px;
  padding: 5px 20px;

  img {
    max-width: 100%;
    border-radius: 5px;
  }

  .img-caption {
    text-align: right;
  }
}
