<div class="site-section" id="services-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center">
        <h2 class="section-title">{{ 'section.services.h' | translate }}</h2>
        <p class="lead">
          {{ 'section.services.p1' | translate }}
        </p>

        <div class="author-box aos-init aos-animate mb-5" data-aos="fade-right">
          <blockquote>
            <b>{{ 'section.services.freeConsultation' | translate }}</b>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="row align-items-stretch">
      <div class="col-lg-2"></div>

      <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><fa-icon [icon]="faUsers"></fa-icon></span>
          </div>
          <div>
            <h3>{{ 'section.services.salesTeam.h' | translate }}</h3>
            <div class="text-left">
              <p>{{ 'section.services.salesTeam.p1' | translate }}</p>
              <ul
                class="ul-check mb-2 list-unstyled success"
                style="display: inline-block; text-align: left; margin: 0 auto;"
              >
                <li>{{ 'section.services.salesTeam.li3' | translate }}</li>
                <li>{{ 'section.services.salesTeam.li1' | translate }}</li>
                <li>{{ 'section.services.salesTeam.li2' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><fa-icon [icon]="faMapMarkerAlt"></fa-icon></span>
          </div>
          <div>
            <h3>{{ 'section.services.localRepre.h' | translate }}</h3>
            <div class="text-left">
              <p>{{ 'section.services.localRepre.p1' | translate }}</p>
              <ul class="ul-check mb-2 list-unstyled success">
                <li>{{ 'section.services.localRepre.li1' | translate }}</li>
                <li>{{ 'section.services.localRepre.li2' | translate }}</li>
                <li>{{ 'section.services.localRepre.li3' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center mb-2">
        <div class="author-box aos-init aos-animate" data-aos="fade-right" style="border-color: #ffc107;">
          <blockquote>
            <b>{{ 'section.services.freeStartPackTill' | translate: { tillDate: '31.&nbsp;8.&nbsp;2020' } }}</b>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mb-2">
    <a [routerLink]="'/expansion' | localize" class="btn btn-primary btn-lg">
      {{ 'section.services.expansionCz' | translate }}
      &nbsp;<fa-icon [icon]="faArrowRight"></fa-icon>
    </a>
  </div>
</div>
