<app-header-part></app-header-part>

<div [style]="{'background-color': '#007bff'}" class="cover-title mb-0">
  <h1>
    <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp;
    {{'page.terms.h' | translate}}
  </h1>
</div>

<div class="container">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4">Podmínky použití</h2>
  </div>

  <h3>I. Úvodní ustanovení a vymezení pojmů</h3>
  <div class="p-3">
    <ol>
      <li>
        Aplikace je veřejně přístupná formou webové stránky na adrese cothema.com, případně dalších adres, dále jen
        <b>Aplikace</b>. Součástí aplikace jsou také zdrojové kódy a API rozhraní, dále jen <b>Součásti aplikace</b>.
      </li>
      <li>
        Provozovatelem Aplikace je společnost: Cothema s.r.o., náměstí 14. října 1307/2, Smíchov, 150 00 Praha (dále jen
        <b>Poskytovatel</b>).
      </li>
      <li>
        Za uživatele je považován kdokoliv, kdy přímo či nepřímo (například pomocí automatizovaných skriptů) využívá
        <i>Aplikaci</i>, a to jakoukoliv formou, dále jen <b>Uživatel</b>.
      </li>
      <li>
        Není-li výslovně uvedeno jinak <i>Podmínky</i> platí nejen pro <i>Aplikaci</i>, ale i <i>Součásti aplikace</i>.
      </li>
      <li>
        Ustanovení uvedená v těchto Podmínkách použití (dále jen <b>Podmínky</b>) jsou uváděna především
        pro preventivní zamezení případným sporům v budoucnu. Zájmem naší společnosti je jednat v zájmu <i>Uživatelů</i>
        a předcházet případným sporům.
      </li>
      <li>Veškerá ustanovení <i>Podmínek</i> jsou platná jak pro platící zákazníky, tak ostatní návštěvníky webu
        (není-li výslovně uvedeno jinak).
      </li>
    </ol>
  </div>

  <h3>II. Podmínky použití</h3>
  <div class="p-3">
    <ol>
      <li>
        Použitím <i>Aplikace</i> souhlasíte s těmito <i>Podmínkami</i> a to bez výhrad. V případě, že s <i>Podmínkami</i>
        nesouhlasíte, přestaňte, prosím, neprodleně <i>Aplikaci</i> využívat.
      </li>
      <li>
        <i>Aplikaci</i> využívá <i>Uživatel</i> plně na vlastní zodpovědnost a s vědomím rizik, která mu mohou
        hrozit.
      </li>
      <li>
        <i>Poskytovatel</i> neposkytuje žádné záruky (například za ztrátu dat, nepravdivost uvedených informací či
        nefunkčnost <i>Aplikace</i>).
        <ol>
          <li>Uživatel se vzdává nároku na náhradu škody, ušlého zisku a dalším náhrad, která by mu v souvislosti s
            využíváním <i>Aplikace</i> ve vztahu k <i>Poskytovateli</i> mohly vzniknout.
          </li>
        </ol>
      </li>
      <li>
        <i>Uživatel</i> poskytnutím svých údajů a dat dává <i>Poskytovateli</i> právo k jejich libovolnému užití.
        <ol>
          <li>Práva třetích osob nejsou tímto dotčena, avšak za jejich porušení má zodpovědnost <i>Uživatel</i>.</li>
        </ol>
      </li>
      <li>
        V případě, že jsou data z <i>Aplikace</i> poskytována třetím osobám, zavazuje se <i>Uživatel</i> zajistit
        splnění licenčních podmínek pro daná data a přebírá odpovědnost za tato data.
      </li>
    </ol>
  </div>

  <h3 id="privacy">III. Ochrana osobních údajů</h3>
  <div class="p-3">
    <ol>
      <li>Správcem osobních údajů je <i>Provozovatel</i>.</li>
      <li>Veškeré osobní údaje jsou uchovávány a zpracovávány zejména za účelem identifikace <i>Uživatele</i> pro
        využití jemu personalizovaných služeb a pro další účely související s užíváním <i>Aplikace</i>.
      </li>
      <li>Osobní údaje mohou být ukládány na serverech třetích stran k provozním účelům.</li>
      <li>Osobní údaje nebudou poskytovány bez výslovného souhlasu <i>Uživatele</i> jiným třetím stranám za účelem jiným
        než provozním.
      </li>
      <li><i>Uživatel</i> má kdykoliv právo požádat <i>Poskytovatele</i> o vymazání svých osobních údajů na uvedeném
        kontaktním
        emailu. Poskytovatel požadavku vyhoví ve lhůtě potřebné pro vyřízení požadavku.
      </li>
      <li>Pro dotazy a požadavky související s ochranou osobních údajů nás kontaktujte na emailu:
        <a href="mailto:havlicek@cothema.com">havlicek@cothema.com</a>.
      </li>
    </ol>
  </div>

  <h3>IV. Závěrečná ustanovení</h3>
  <div class="p-3">
    <ol>
      <li>
        <i>Poskytovatel</i> si vyhrazuje právo kdykoliv změnit <i>Podmínky</i> okamžikem jejich zveřejnění na webu.
      </li>
      <li>
        Kontaktní email na Poskytovatele: <a href="mailto:havlicek@cothema.com">havlicek@cothema.com</a>
      </li>
      <li>
        Poslední aktualizace těchto podmínek proběhla: 7. 8. 2020.
      </li>
    </ol>
  </div>
</div>
