
<div class="feature-big">
  <div class="container">
    <div class="row mb-5 site-section">
      <div class="col-lg-7" data-aos="fade-right">
        <img src="assets/images/undraw_gift_card_6ekc.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">Základní průzkum trhu</h2>
        <p class="mb-4">Nevytvářejte produkt, jestliže nevíte pro koho ho vytváříte. S námi pochopíte, kteří
          zákazníci jsou pro Vás nejdůležitější a především zjistíte jak velký je prostor na trhu. V rámci
          startovního balíčku za Vás vypracujeme úvodní průzkum trhu.</p>
      </div>
    </div>

    <div class="mt-5 row mb-5 site-section ">
      <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
        <img src="assets/images/undraw_metrics_gtu7.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
        <h2 class="text-black">Sběr zpětné vazby</h2>
        <p class="mb-4">
          Zpětná vazba je klíčová pro jakýkoliv produkt a u startupů, a softwaru a hardwaru obecně, to
          platí
          dvojnásob!
          Zpětnou vazbu od svých nových, existujících i potencionálních zákazníků dostáváte v reálném
          čase.
        </p>
      </div>
    </div>

    <div class="row mb-5 site-section">
      <div class="col-lg-7" data-aos="fade-right">
        <img src="assets/images/undraw_gift_card_6ekc.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">Získání nových zákazníků</h2>
        <p class="mb-4">
          Není nic těžšího než oslovování nových kontaktů, hledání těch správných odpovědných osob
          ve firmě zákazníka a prezentace produktu zpravidla velmi vytíženým osobám.
          Toto vše řešíme za Vás.
        </p>
      </div>
    </div>

    <div class="mt-5 row mb-5 site-section ">
      <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
        <img src="assets/images/undraw_metrics_gtu7.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
        <h2 class="text-black">Základní uživatelská podpora</h2>
        <p class="mb-4">Neztrácejte čas vyřizováním elementárních dotazů zákazníků typu, kde naleznou určité
          tlačítko. Vyřizovat budete až technické problémy a zbytek se k Vám dostane formou zpětné
          vazby.</p>
      </div>
    </div>

    <div class="row mb-5 site-section">
      <div class="col-lg-7" data-aos="fade-right">
        <img src="assets/images/undraw_gift_card_6ekc.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">Dlouhodobý vztah se zákazníky</h2>
        <p class="mb-4">
          Téměř nikdy nekončí vztah se zákazníkem okamžikem uzavření prodeje.
          Zákazník očekává, že se produkt bude dále rozvíjet a spolupráce pokud možno prohlubovat.
          Naši obchodní zástupci dlouhodobě potřebám zákazníků naslouchají a udržují s nimi vztah.
        </p>
      </div>
    </div>

    <div class="mt-5 row mb-5 site-section ">
      <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
        <img src="assets/images/undraw_metrics_gtu7.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
        <h2 class="text-black">Počáteční cashflow</h2>
        <p class="mb-4">První prodeje nastartují počáteční cashflow Vašeho nově vznikajícího projektu.
          Budete moci rychleji inovovat a investovat tam, kde je potřeba.</p>
      </div>
    </div>

  </div>
</div>
