<div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
        <img src="assets/images/undraw_investing_7u74.svg" alt="Image" class="img-fluid img-absolute">

        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-6 mr-auto">
            <h1>{{'part.coverOutsourcing.h1'|translate}}</h1>
            <p class="mb-5" style="font-size:1.4rem">{{'part.coverOutsourcing.p1'|translate}}</p>
            <div>
              <a href="#services-section" class="btn btn-primary mr-2 mb-2">{{'btn.interested'|translate}}</a>
              <a href="#salesman-section" class="btn btn-warning mr-2 mb-2">{{'menu.forDealers'|translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
