<div class="site-section bg-light" id="about-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">{{ 'menu.aboutUs' | translate }}</h2>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6" data-aos="fade-right">
        <img alt="Image" class="img-fluid" src="assets/images/undraw_bookmarks_r6up.svg" />
      </div>
      <div class="col-lg-5 ml-auto pl-lg-5">
        <h2 class="text-black mb-4 h3 font-weight-bold">{{ 'section.aboutUs.why.h' | translate }}</h2>
        <p class="mb-4">
          {{ 'section.aboutUs.why.p1' | translate }}
        </p>
        <p class="mb-1">
          {{ 'section.aboutUs.challenges.h' | translate }}
        </p>
        <ul class="ul-check mb-5 list-unstyled success">
          <li>{{ 'section.aboutUs.challenges.li1' | translate }}</li>
          <li>{{ 'section.aboutUs.challenges.li2' | translate }}</li>
          <li>{{ 'section.aboutUs.challenges.li3' | translate }}</li>
        </ul>
        <div>
          <a class="btn btn-success" routerLink="/en/code-of-ethics">
            {{ 'menu.codeOfEthics' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section bg-light" id="why-we-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">{{ 'menu.whyWe' | translate }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><fa-icon [icon]="faLink"></fa-icon></span>
          </div>
          <div>
            <h3>{{ 'section.services-section.existRel.h' | translate }}</h3>
            <div class="text-left">
              <p>{{ 'section.services-section.existRel.p1' | translate }}</p>
              <ul class="ul-check mb-2 list-unstyled success">
                <li>{{ 'section.services-section.existRel.li1' | translate }}</li>
                <li>{{ 'section.services-section.existRel.li2' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
