<app-header-part [subBrand]="'ecommerce'"></app-header-part>

<app-field-detail [field]="field">
  <div class="mt-5 mb-3">
    <div class="row">
      <div class="col-md-5 p-2 field-img">
        <img src="/assets/photos/field/eshop.jpg" style="max-width: 100%"><br/>
        <span class="img-caption">Photo by <a
          href="https://unsplash.com/@olloweb?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Agence Olloweb</a> on <a
          href="https://unsplash.com/s/photos/website?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
      </div>
      <div class="col-md-7 pl-4 pr-4 field-intro">
        <h3 class="mt-2">
          {{'section.specialization.ecommerce.p1'|translate}}
        </h3>
        <p>
          {{'page.fieldEcommerce.p1'|translate}}
        </p>
      </div>
    </div>
  </div>
</app-field-detail>
