<app-header-part [subBrand]="'ecommerce'"></app-header-part>

<app-field-detail [field]="field">
  <div class="mt-5 mb-3 container container-800">
    <div class="lead lead-call mb-4 p-3" style="background-color: rgb(0, 123, 255);color:#fff;border-radius:4px">
      {{'page.fieldEcommerce.call'|translate}}
    </div>

    <div class="pl-4 pr-4 field-intro">
      <p class="p-3">
        {{'page.fieldEcommerce.p1'|translate}}
      </p>
    </div>

    <div class="pl-4 pr-4 mb-4 field-intro">
      <ul class="ul-check list-unstyled success mb-0">
        <li [innerHTML]="'page.fieldEcommerce.li8'|translate"></li>
        <li [innerHTML]="'page.fieldEcommerce.li3'|translate"></li>
        <li [innerHTML]="'page.fieldEcommerce.li1'|translate"></li>
        <li [innerHTML]="'page.fieldEcommerce.li2'|translate"></li>
        <li [innerHTML]="'page.fieldEcommerce.li4'|translate"></li>
        <li [innerHTML]="'page.fieldEcommerce.li6'|translate"></li>
        <li [innerHTML]="'page.fieldEcommerce.li5'|translate"></li>
        <li [innerHTML]="'page.fieldEcommerce.li7'|translate"></li>
      </ul>
      <i>{{'page.field_.andOtherTips'|translate}}</i>
    </div>

  </div>

  <!--    <div class="text-center mb-5">-->
  <!--      <a class="btn btn-success btn-lg">-->
  <!--        Analýza zdarma-->
  <!--      </a>-->
  <!--    </div>-->
</app-field-detail>
