<div class="site-section" id="pricelist-section">
  <div class="container">
    <h2 class="section-title text-center mb-4">{{'menu.priceList'|translate}}</h2>

    <div style="max-width: 600px;margin: 0 auto">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Služba</th>
          <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Startovní balíček</th>
          <td>25.000 Kč</td>
        </tr>
        <tr>
          <th>Spolupráce</th>
          <td>1.000 Kč / 1 měs.</td>
        </tr>
        <tr>
          <th>Provize za zrealizovaný obchod</th>
          <td>dle dohody</td>
        </tr>
        <tr>
          <th>Konzultace nad rámec běžných služeb</th>
          <td>od 1.000 Kč / hod.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
