<div aos class="footer bg-dark py-5 fade-in-delayed">
  <div class="container pb-5 pb-md-0">
    <div class="row">
      <div class="d-print-none col-md-2 d-none d-lg-block">
        <a [routerLink]="'/' | localize">
          {{'menu.innovationConsultation' | translate}}
        </a><br/>
        <a [routerLink]="'/sales-outsourcing' | localize">
          {{'menu.salesOutsourcing' | translate}}
        </a><br/>
        <a [routerLink]="'/expansion' | localize">
          {{'menu.expansionCZ' | translate}}
        </a>

        <hr/>

        <a [fragment]="'contact-section'" [routerLink]="'/' | localize" pageScroll>
          {{'menu.contact' | translate}}
        </a><br/>
        <a [routerLink]="'/partnership' | localize" pageScroll>
          {{'page.partnership.h' | translate}}
        </a><br/>
        <a [routerLink]="'/terms-and-conditions' | localize" pageScroll>
          {{'page.terms.h' | translate}}
        </a>
      </div>
      <div class="d-none d-lg-block d-md-block d-print-none col-md-3 d-none d-lg-block text-center">
      </div>
      <div class="col-md-7 text-center">
        <div class="mb-0 p-2" style="font-size:1.8em;">
          <a class="p-3" href="https://www.facebook.com/cothemacom" target="_blank">
            <fa-icon [icon]="faFacebookF"></fa-icon>
          </a>
          <a class="p-3" href="https://www.facebook.com/groups/345958403091995" target="_blank">
            <fa-icon [icon]="faUsers"></fa-icon>
          </a>
          <a class="p-3" href="https://www.linkedin.com/company/5278559/" target="_blank">
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
          </a>
        </div>
        <div class="mb-0">
          Copyright &copy; {{ actualDate | date: 'yyyy' }} Cothema, s.r.o., {{'footer.rightsReserved'|translate}}<br/>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          {{'footer.templateBy'|translate}} <a href="https://colorlib.com" target="_blank">Colorlib</a>
        </div>
      </div>
    </div>
  </div>
</div>
