<app-header-part [color]="subBrandColor" [subBrand]="'gastro'"></app-header-part>

<app-field-detail [field]="field">
  <div class="mt-5 mb-3 container container-800">
    <div class="pl-4 pr-4 field-intro">
      <h3 class="mt-2">
        {{'section.specialization.gastro.p1'|translate}}
      </h3>

      <p>
        {{'section.specialization.gastro.p2'|translate}}
      </p>

      <ul class="ul-check list-unstyled success">
        <li [innerHTML]="'section.specialization.gastro.li1'|translate"></li>
        <li [innerHTML]="'section.specialization.gastro.li2'|translate"></li>
        <li [innerHTML]="'section.specialization.gastro.li3'|translate"></li>
        <li [innerHTML]="'section.specialization.gastro.li4'|translate"></li>
        <li [innerHTML]="'section.specialization.gastro.li5'|translate"></li>
        <li [innerHTML]="'section.specialization.gastro.li6'|translate"></li>
        <li [innerHTML]="'section.specialization.gastro.li7'|translate"></li>
        <li [innerHTML]="'section.specialization.gastro.li8'|translate"></li>
      </ul>
    </div>
  </div>
</app-field-detail>
