<div *ngIf="translate.currentLang === 'cz'" class="footer bg-black py-5 d-none d-lg-block d-md-block d-print-none">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="https://univerzitaobchodu.cz" target="_blank">
          <img src="/assets/logos/univerzitaobchodu_cz.png" style="max-width: 100%;">
        </a>
      </div>
      <div class="col-md-9 text-center p-2">
        <h3>Chcete zdokonalit své obchodní schopnosti?</h3>
        <p class="lead">
          <a href="https://univerzitaobchodu.cz" target="_blank">
            Vyzkoušejte online univerzitu obchodu
            &nbsp;<fa-icon [icon]="faArrowRight"></fa-icon>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
