<div class="site-section bg-light" id="how-it-works-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-4">{{ 'menu.howItWorks' | translate }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><fa-icon [icon]="faLink"></fa-icon></span>
          </div>
          <div>
            <h3>{{ 'section.services.existRel.h' | translate }}</h3>
            <div class="text-left">
              <p>{{ 'section.services.existRel.p1' | translate }}</p>
              <ul class="ul-check mb-2 list-unstyled success">
                <li>{{ 'section.services.existRel.li1' | translate }}</li>
                <li>{{ 'section.services.existRel.li2' | translate }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feature-big">
    <div class="container">
      <div class="row mb-5 site-section">
        <div class="col-lg-7" data-aos="fade-right">
          <img alt="Image" class="img-fluid" src="assets/images/undraw_gift_card_6ekc.svg"/>
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
          <h2 class="text-black">{{ 'section.servicesSteps.1.h1' | translate }}</h2>
          <p class="mb-4">{{ 'section.servicesSteps.1.p1' | translate }}</p>
        </div>
      </div>

      <div class="mt-5 row mb-5 site-section">
        <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
          <img alt="Image" class="img-fluid" src="assets/images/undraw_metrics_gtu7.svg"/>
        </div>
        <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
          <h2 class="text-black">{{ 'section.servicesSteps.2.h1' | translate }}</h2>
          <p class="mb-4">
            {{ 'section.servicesSteps.2.p1' | translate }}
          </p>
        </div>
      </div>

      <div class="row mb-5 site-section">
        <div class="col-lg-7" data-aos="fade-right">
          <img alt="Image" class="img-fluid" src="assets/images/undraw_gift_card_6ekc.svg"/>
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
          <h2 class="text-black">{{ 'section.servicesSteps.3.h1' | translate }}</h2>
          <p class="mb-4">
            {{ 'section.servicesSteps.3.p1' | translate }}
          </p>
        </div>
      </div>

      <div class="mt-5 row mb-5 site-section">
        <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
          <img alt="Image" class="img-fluid" src="assets/images/undraw_metrics_gtu7.svg"/>
        </div>
        <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
          <h2 class="text-black">{{ 'section.servicesSteps.4.h1' | translate }}</h2>
          <p class="mb-4">
            {{ 'section.servicesSteps.4.p1' | translate }}
          </p>
        </div>
      </div>

      <div class="row mb-5 site-section">
        <div class="col-lg-7" data-aos="fade-right">
          <img alt="Image" class="img-fluid" src="assets/images/undraw_gift_card_6ekc.svg"/>
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
          <h2 class="text-black">{{ 'section.servicesSteps.5.h1' | translate }}</h2>
          <p class="mb-4">
            {{ 'section.servicesSteps.5.p1' | translate }}
          </p>
        </div>
      </div>

      <div class="mt-5 row mb-5 site-section">
        <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
          <img alt="Image" class="img-fluid" src="assets/images/undraw_metrics_gtu7.svg"/>
        </div>
        <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
          <h2 class="text-black">{{ 'section.servicesSteps.6.h1' | translate }}</h2>
          <p class="mb-4">
            {{ 'section.servicesSteps.6.p1' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
